<%= form_for([@project, @snippet]) do |f| %>
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input cols4 center-align">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="input cols6 center-align">
    <%= f.label :snip %><br>
    <%= f.text_field :snip %>
  </div>

  <div class="actions center-align">
    <%= button_tag(:class => "btn waves-effect waves-light cyan accent-4") do %>
      <i class='fa fa-scissors'></i>
    <% end %>
  </div>

<% end %>
