<p id="notice"><%= notice %></p>
<h3 class="center-align">Snippets</h3>

<ul class="collapsible" data-collapsible="accordion">
  <% @snippets.each do |snippet| %>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-folder-open-o"></i>
        <%= snippet.title %>

        <%= link_to project_snippet_path(snippet.project_id, snippet), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="material-icons right">delete</i> </td>
          <%end%>

        <%= link_to edit_project_snippet_path(params[:project_id], snippet) do %>
            <i class="material-icons right">mode_edit</i>
        <% end %>

      </div>
      <div class="collapsible-body"><p><%= snippet.snip.mb_chars.summarize %></p></div>
    </li>
  <% end %>
</ul>


<br>


<!-- New snippet button -->
    <div class="center-align">
        <%= link_to new_project_snippet_path, class: "btn-floating cyan accent-4 waves-effect waves-light" do %>
        <i class="material-icons">add</i>
        <% end %>
    </div>
