
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</p>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input col s6 center-align">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="input col s6 center-align">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>



  <div class="actions center-align">
    <%= button_tag( :class => "btn waves-effect waves-light cyan accent-4") do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>

<% end %>
