<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input col s6 center-align">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="input col s6 center-align">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions center-align">
    <button class="btn waves-effect waves-light cyan accent-4" type="submit" name="action">
    <%= f.submit %>
    </button>
  </div>

<% end %>
