<p id="notice"><%= notice %></p>

<h1 class="center-align">My Projects</h1>

<table class="centered">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Description:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <i class="fa fa-folder-o"></i>
          <%= link_to project.name, snippets_path, class:"white-text"  %>
        </td>

        <td><%= project.description %></td>


        <div = class="edit-delete-project">
          <td><%= link_to edit_project_path( project) do %>
              <i class="material-icons">mode_edit</i>
          <% end %>
          </td>
          <td><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete</i> </td>
            <%end%>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- New project button -->
    <div class="center-align">
        <%= link_to new_project_path, class: "btn-floating cyan accent-4 waves-effect waves-light" do %>
        <i class="material-icons">add</i>
        <% end %>
    </div>
