<!DOCTYPE html>
<html>
<head>
  <title>Simplit</title>
  <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <!-- Link Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Link Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- Link Google font option  -->
      <!-- Body Font -->
      <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
      <!-- Title font -->
      <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <!-- Link FontAwesome -->
    <script src="https://use.fontawesome.com/aafe71de78.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>

<body>


  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo left">Simplit</a> -->
      <div class="simplit-logo">
        <%= image_tag("simplitlogoresize.png", :alt => "logo") %>


      <ul id="nav-mobile" class= "right">
        <!-- If User is logged in, display message "Welcome User"  -->
        <% if current_user %>
          <li>Hello, <%= current_user.username %>!</li>
          <li><%= link_to "Log Out", logout_path%></li>
          <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path%></li>
          <% end %>
      </ul>
      </div>
    </div>
  </nav>


  <!-- Background image -->
  <div class="background-image">
    <%= image_tag("brickwall.jpg") %>
  </div>


<% flash.each do |key, value| %>
  <%= content_tag(:div, class: "alert alert-#{key}") do %>
    <p><%= value %></p>
  <% end %>
<% end %>

<%= yield %>

<!-- FOOTER -->
<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row">
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright
    <a class="grey-text text-lighten-4 right" href="#!">About Us</a>
    </div>
  </div>
</footer>

</body>
</html>
